node-red/dynsec-dashboard-v1-flows.json
[
  {
    "id": "dynsec_tab_main",
    "type": "tab",
    "label": "DynSec Dashboard v1",
    "disabled": false,
    "info": "Dynamic Security + Telemetry dashboard (classic Node-RED dashboard nodes)."
  },
  {
    "id": "dynsec_ui_base",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0f766e",
        "baseColor": "#0f766e",
        "baseFont": "Segoe UI,Helvetica Neue,Arial,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#0f766e",
        "baseColor": "#0f766e",
        "baseFont": "Segoe UI,Helvetica Neue,Arial,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "DynSec",
        "default": "#0f766e",
        "baseColor": "#0f766e",
        "baseFont": "Segoe UI,Helvetica Neue,Arial,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0f766e",
          "value": "#0f766e",
          "edited": true
        },
        "page-titlebar-backgroundColor": {
          "value": "#0f766e",
          "edited": true
        },
        "group-borderColor": {
          "value": "#d1d5db",
          "edited": true
        },
        "group-backgroundColor": {
          "value": "#f9fafb",
          "edited": true
        },
        "widget-textColor": {
          "value": "#111827",
          "edited": true
        },
        "widget-backgroundColor": {
          "value": "#ffffff",
          "edited": true
        },
        "base-font": {
          "value": "Segoe UI,Helvetica Neue,Arial,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "teal",
        "accents": "cyan",
        "warn": "red",
        "background": "grey",
        "palette": "light"
      }
    },
    "site": {
      "name": "MQTT DynSec Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "true",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "YYYY-MM-DD HH:mm:ss",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "dynsec_ui_tab_users",
    "type": "ui_tab",
    "name": "Users",
    "icon": "people",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "dynsec_ui_tab_roles",
    "type": "ui_tab",
    "name": "Roles",
    "icon": "security",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "dynsec_ui_tab_telemetry",
    "type": "ui_tab",
    "name": "Telemetry",
    "icon": "show_chart",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "dynsec_ui_tab_status",
    "type": "ui_tab",
    "name": "Status",
    "icon": "info",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "dynsec_grp_users_actions",
    "type": "ui_group",
    "name": "Users Actions",
    "tab": "dynsec_ui_tab_users",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dynsec_grp_users_table",
    "type": "ui_group",
    "name": "Users Snapshot",
    "tab": "dynsec_ui_tab_users",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dynsec_grp_roles_actions",
    "type": "ui_group",
    "name": "Roles Actions",
    "tab": "dynsec_ui_tab_roles",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dynsec_grp_roles_table",
    "type": "ui_group",
    "name": "Roles Snapshot",
    "tab": "dynsec_ui_tab_roles",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dynsec_grp_tel_select",
    "type": "ui_group",
    "name": "Telemetry Filters",
    "tab": "dynsec_ui_tab_telemetry",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dynsec_grp_tel_live",
    "type": "ui_group",
    "name": "Live Stream",
    "tab": "dynsec_ui_tab_telemetry",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dynsec_grp_status",
    "type": "ui_group",
    "name": "DynSec Status",
    "tab": "dynsec_ui_tab_status",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "dynsec_tls_admin",
    "type": "tls-config",
    "name": "dynsec-admin-mtls",
    "certType": "files",
    "cert": "C:\\custom_mqtt_broker\\certificates\\admin_client.crt",
    "key": "C:\\custom_mqtt_broker\\certificates\\admin_client.key",
    "ca": "C:\\custom_mqtt_broker\\certificates\\ca.crt",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "localhost",
    "verifyservercert": true
  },
  {
    "id": "dynsec_broker_admin",
    "type": "mqtt-broker",
    "name": "Mosquitto DynSec Admin",
    "broker": "localhost",
    "port": "8883",
    "tls": "dynsec_tls_admin",
    "clientid": "nodered-dynsec-admin",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "dynsec_btn_refresh_users",
    "type": "ui_button",
    "z": "dynsec_tab_main",
    "name": "",
    "group": "dynsec_grp_users_actions",
    "order": 1,
    "width": 3,
    "height": 1,
    "label": "Refresh Users",
    "color": "",
    "bgcolor": "",
    "payload": "listUsers",
    "payloadType": "str",
    "topic": "",
    "x": 190,
    "y": 80,
    "wires": [["dynsec_fn_cmd_list_clients"]]
  },
  {
    "id": "dynsec_form_create_client",
    "type": "ui_form",
    "z": "dynsec_tab_main",
    "name": "",
    "label": "Create Client",
    "group": "dynsec_grp_users_actions",
    "order": 2,
    "width": 9,
    "height": 1,
    "options": [
      {"label": "Username", "value": "username", "type": "text", "required": true},
      {"label": "Password", "value": "password", "type": "password", "required": true},
      {"label": "Initial Role (optional)", "value": "role", "type": "text", "required": false}
    ],
    "formValue": {"username": "", "password": "", "role": ""},
    "payload": "",
    "submit": "Create",
    "cancel": "Clear",
    "topic": "",
    "x": 210,
    "y": 140,
    "wires": [["dynsec_fn_cmd_create_client"]]
  },
  {
    "id": "dynsec_form_update_client",
    "type": "ui_form",
    "z": "dynsec_tab_main",
    "name": "",
    "label": "Client Ops (password / role / block / delete)",
    "group": "dynsec_grp_users_actions",
    "order": 3,
    "width": 12,
    "height": 1,
    "options": [
      {"label": "Username", "value": "username", "type": "text", "required": true},
      {"label": "Action (password/addRole/removeRole/block/unblock/delete)", "value": "action", "type": "text", "required": true},
      {"label": "Value (new password OR role name)", "value": "value", "type": "text", "required": false}
    ],
    "formValue": {"username": "", "action": "", "value": ""},
    "payload": "",
    "submit": "Run Action",
    "cancel": "Clear",
    "topic": "",
    "x": 260,
    "y": 200,
    "wires": [["dynsec_fn_cmd_user_action"]]
  },
  {
    "id": "dynsec_btn_refresh_roles",
    "type": "ui_button",
    "z": "dynsec_tab_main",
    "name": "",
    "group": "dynsec_grp_roles_actions",
    "order": 1,
    "width": 3,
    "height": 1,
    "label": "Refresh Roles",
    "color": "",
    "bgcolor": "",
    "payload": "listRoles",
    "payloadType": "str",
    "topic": "",
    "x": 190,
    "y": 320,
    "wires": [["dynsec_fn_cmd_list_roles"]]
  },
  {
    "id": "dynsec_form_create_role",
    "type": "ui_form",
    "z": "dynsec_tab_main",
    "name": "",
    "label": "Create Role",
    "group": "dynsec_grp_roles_actions",
    "order": 2,
    "width": 9,
    "height": 1,
    "options": [
      {"label": "Role Name", "value": "role", "type": "text", "required": true}
    ],
    "formValue": {"role": ""},
    "payload": "",
    "submit": "Create Role",
    "cancel": "Clear",
    "topic": "",
    "x": 200,
    "y": 380,
    "wires": [["dynsec_fn_cmd_create_role"]]
  },
  {
    "id": "dynsec_form_role_acl",
    "type": "ui_form",
    "z": "dynsec_tab_main",
    "name": "",
    "label": "Role ACL Ops",
    "group": "dynsec_grp_roles_actions",
    "order": 3,
    "width": 12,
    "height": 1,
    "options": [
      {"label": "Action (addAcl/removeAcl/deleteRole)", "value": "action", "type": "text", "required": true},
      {"label": "Role", "value": "role", "type": "text", "required": true},
      {"label": "ACL Type", "value": "acltype", "type": "text", "required": false},
      {"label": "Topic", "value": "topic", "type": "text", "required": false},
      {"label": "Allow (true/false)", "value": "allow", "type": "text", "required": false}
    ],
    "formValue": {"action": "", "role": "", "acltype": "", "topic": "", "allow": "true"},
    "payload": "",
    "submit": "Run",
    "cancel": "Clear",
    "topic": "",
    "x": 220,
    "y": 440,
    "wires": [["dynsec_fn_cmd_role_action"]]
  },
  {
    "id": "dynsec_form_select_client",
    "type": "ui_form",
    "z": "dynsec_tab_main",
    "name": "",
    "label": "Select subscriber client",
    "group": "dynsec_grp_tel_select",
    "order": 1,
    "width": 12,
    "height": 1,
    "options": [
      {"label": "Client Username", "value": "username", "type": "text", "required": true}
    ],
    "formValue": {"username": ""},
    "payload": "",
    "submit": "Resolve Allowed Topics",
    "cancel": "Clear",
    "topic": "",
    "x": 210,
    "y": 560,
    "wires": [["dynsec_fn_cmd_resolve_topics"]]
  },
  {
    "id": "dynsec_text_users",
    "type": "ui_text",
    "z": "dynsec_tab_main",
    "group": "dynsec_grp_users_table",
    "order": 1,
    "width": 12,
    "height": 8,
    "name": "",
    "label": "Clients",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 1320,
    "y": 120,
    "wires": []
  },
  {
    "id": "dynsec_text_roles",
    "type": "ui_text",
    "z": "dynsec_tab_main",
    "group": "dynsec_grp_roles_table",
    "order": 1,
    "width": 12,
    "height": 8,
    "name": "",
    "label": "Roles",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 1320,
    "y": 180,
    "wires": []
  },
  {
    "id": "dynsec_text_topics",
    "type": "ui_text",
    "z": "dynsec_tab_main",
    "group": "dynsec_grp_tel_select",
    "order": 2,
    "width": 12,
    "height": 4,
    "name": "",
    "label": "Allowed topics for selected client",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 1340,
    "y": 240,
    "wires": []
  },
  {
    "id": "dynsec_text_live",
    "type": "ui_text",
    "z": "dynsec_tab_main",
    "group": "dynsec_grp_tel_live",
    "order": 1,
    "width": 12,
    "height": 8,
    "name": "",
    "label": "Filtered telemetry (latest 40)",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 1330,
    "y": 300,
    "wires": []
  },
  {
    "id": "dynsec_text_status",
    "type": "ui_text",
    "z": "dynsec_tab_main",
    "group": "dynsec_grp_status",
    "order": 1,
    "width": 12,
    "height": 2,
    "name": "",
    "label": "Command status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1330,
    "y": 360,
    "wires": []
  },
  {
    "id": "dynsec_text_raw",
    "type": "ui_text",
    "z": "dynsec_tab_main",
    "group": "dynsec_grp_status",
    "order": 2,
    "width": 12,
    "height": 8,
    "name": "",
    "label": "Last dynsec response",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 1330,
    "y": 420,
    "wires": []
  },
  {
    "id": "dynsec_inj_boot_users",
    "type": "inject",
    "z": "dynsec_tab_main",
    "name": "Boot: list users",
    "props": [{"p": "payload"}],
    "repeat": "",
    "once": true,
    "onceDelay": 0.8,
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 20,
    "wires": [["dynsec_fn_cmd_list_clients"]]
  },
  {
    "id": "dynsec_inj_boot_roles",
    "type": "inject",
    "z": "dynsec_tab_main",
    "name": "Boot: list roles",
    "props": [{"p": "payload"}],
    "repeat": "",
    "once": true,
    "onceDelay": 1.2,
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 50,
    "wires": [["dynsec_fn_cmd_list_roles"]]
  },
  {
    "id": "dynsec_fn_cmd_list_clients",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Build listClients",
    "func": "msg.payload = { command: \"listClients\" };\nmsg.intent = \"list_clients\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 80,
    "wires": [["dynsec_fn_guard"]]
  },
  {
    "id": "dynsec_fn_cmd_create_client",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Build createClient",
    "func": "const p = msg.payload || {};\nconst username = String(p.username || \"\").trim();\nconst password = String(p.password || \"\");\nconst role = String(p.role || \"\").trim();\nif (!username || !password) {\n    return { payload: \"Username and password are required\", _statusOnly: true };\n}\nmsg.payload = { command: \"createClient\", username, password };\nif (role) {\n    msg.payload.roles = [{ rolename: role }];\n}\nmsg.intent = \"create_client\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 140,
    "wires": [["dynsec_fn_route_status_or_guard"]]
  },
  {
    "id": "dynsec_fn_cmd_user_action",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Build user action command",
    "func": "const p = msg.payload || {};\nconst username = String(p.username || \"\").trim();\nconst action = String(p.action || \"\").trim().toLowerCase();\nconst value = String(p.value || \"\").trim();\nif (!username || !action) {\n    return { payload: \"Username and action are required\", _statusOnly: true };\n}\nlet cmd = null;\nif (action === \"password\") {\n    if (!value) return { payload: \"Provide new password in Value\", _statusOnly: true };\n    cmd = { command: \"setClientPassword\", username, password: value };\n} else if (action === \"addrole\") {\n    if (!value) return { payload: \"Provide role name in Value\", _statusOnly: true };\n    cmd = { command: \"addClientRole\", username, rolename: value };\n} else if (action === \"removerole\") {\n    if (!value) return { payload: \"Provide role name in Value\", _statusOnly: true };\n    cmd = { command: \"removeClientRole\", username, rolename: value };\n} else if (action === \"block\") {\n    cmd = { command: \"disableClient\", username };\n} else if (action === \"unblock\") {\n    cmd = { command: \"enableClient\", username };\n} else if (action === \"delete\") {\n    cmd = { command: \"deleteClient\", username };\n} else {\n    return { payload: \"Unsupported action. Use password/addRole/removeRole/block/unblock/delete\", _statusOnly: true };\n}\nmsg.payload = cmd;\nmsg.intent = \"user_action\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 200,
    "wires": [["dynsec_fn_route_status_or_guard"]]
  },
  {
    "id": "dynsec_fn_cmd_list_roles",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Build listRoles",
    "func": "msg.payload = { command: \"listRoles\" };\nmsg.intent = \"list_roles\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 320,
    "wires": [["dynsec_fn_guard"]]
  },
  {
    "id": "dynsec_fn_cmd_create_role",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Build createRole",
    "func": "const role = String((msg.payload || {}).role || \"\").trim();\nif (!role) return { payload: \"Role name is required\", _statusOnly: true };\nmsg.payload = { command: \"createRole\", rolename: role };\nmsg.intent = \"create_role\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 380,
    "wires": [["dynsec_fn_route_status_or_guard"]]
  },
  {
    "id": "dynsec_fn_cmd_role_action",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Build role action command",
    "func": "const p = msg.payload || {};\nconst action = String(p.action || \"\").trim().toLowerCase();\nconst role = String(p.role || \"\").trim();\nconst acltype = String(p.acltype || \"\").trim();\nconst topic = String(p.topic || \"\").trim();\nconst allowText = String(p.allow || \"true\").trim().toLowerCase();\nconst allow = !(allowText === \"false\" || allowText === \"0\" || allowText === \"deny\");\nif (!action || !role) return { payload: \"Action and role are required\", _statusOnly: true };\nlet cmd = null;\nif (action === \"deleterole\") {\n    cmd = { command: \"deleteRole\", rolename: role };\n} else if (action === \"addacl\") {\n    if (!acltype || !topic) return { payload: \"ACL type and topic are required for addAcl\", _statusOnly: true };\n    cmd = { command: \"addRoleACL\", rolename: role, acltype, topic, allow };\n} else if (action === \"removeacl\") {\n    if (!acltype || !topic) return { payload: \"ACL type and topic are required for removeAcl\", _statusOnly: true };\n    cmd = { command: \"removeRoleACL\", rolename: role, acltype, topic, allow };\n} else {\n    return { payload: \"Unsupported action. Use addAcl/removeAcl/deleteRole\", _statusOnly: true };\n}\nmsg.payload = cmd;\nmsg.intent = \"role_action\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 440,
    "wires": [["dynsec_fn_route_status_or_guard"]]
  },
  {
    "id": "dynsec_fn_cmd_resolve_topics",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Build getClient for telemetry",
    "func": "const username = String((msg.payload || {}).username || \"\").trim();\nif (!username) return { payload: \"Provide a client username\", _statusOnly: true };\nflow.set(\"telemetrySelectedClient\", username);\nflow.set(\"resolveState\", null);\nmsg.payload = { command: \"getClient\", username };\nmsg.intent = \"resolve_topics_get_client\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 560,
    "wires": [["dynsec_fn_route_status_or_guard"]]
  },
  {
    "id": "dynsec_fn_route_status_or_guard",
    "type": "switch",
    "z": "dynsec_tab_main",
    "name": "Status-only?",
    "property": "_statusOnly",
    "propertyType": "msg",
    "rules": [
      {"t": "true"},
      {"t": "else"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 700,
    "y": 300,
    "wires": [["dynsec_text_status"], ["dynsec_fn_guard"]]
  },
  {
    "id": "dynsec_fn_guard",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Guard single in-flight request",
    "func": "const busy = !!flow.get(\"dynsecBusy\");\nif (busy) {\n    return [null, { payload: \"Another dynsec request is in progress. Wait for response/timeout.\" }];\n}\nconst cmd = (msg.payload && msg.payload.command) ? msg.payload.command : \"unknown\";\nflow.set(\"dynsecBusy\", true);\nflow.set(\"dynsecSince\", Date.now());\nflow.set(\"dynsecPending\", cmd);\nflow.set(\"dynsecIntent\", msg.intent || null);\nreturn [msg, { payload: \"Sending dynsec command: \" + cmd }];",
    "outputs": 2,
    "noerr": 0,
    "x": 710,
    "y": 240,
    "wires": [["dynsec_fn_prepare_publish"], ["dynsec_text_status"]]
  },
  {
    "id": "dynsec_fn_prepare_publish",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Wrap and publish command",
    "func": "msg.topic = \"$CONTROL/dynamic-security/v1\";\nmsg.payload = JSON.stringify({ commands: [msg.payload] });\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 970,
    "y": 240,
    "wires": [["dynsec_out_control"]]
  },
  {
    "id": "dynsec_out_control",
    "type": "mqtt out",
    "z": "dynsec_tab_main",
    "name": "dynsec publish",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "dynsec_broker_admin",
    "x": 1180,
    "y": 240,
    "wires": []
  },
  {
    "id": "dynsec_in_response",
    "type": "mqtt in",
    "z": "dynsec_tab_main",
    "name": "dynsec response",
    "topic": "$CONTROL/dynamic-security/v1/response",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "dynsec_broker_admin",
    "x": 180,
    "y": 660,
    "wires": [["dynsec_fn_parse_response"]]
  },
  {
    "id": "dynsec_fn_parse_response",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Parse dynsec response + update state",
    "func": "function arr(v) { return Array.isArray(v) ? v : (v == null ? [] : [v]); }\nfunction boolAllow(v) {\n    if (typeof v === 'boolean') return v;\n    if (typeof v === 'number') return v !== 0;\n    const s = String(v || '').toLowerCase();\n    return !(s === 'false' || s === '0' || s === 'deny');\n}\nfunction extractClients(resp) {\n    let raw = [];\n    if (resp && resp.data && Array.isArray(resp.data.clients)) raw = resp.data.clients;\n    else if (resp && Array.isArray(resp.clients)) raw = resp.clients;\n    else if (resp && Array.isArray(resp.data)) raw = resp.data;\n    const out = [];\n    for (const c of raw) {\n        if (typeof c === 'string') out.push({ username: c });\n        else if (c && typeof c === 'object') out.push({\n            username: c.username || c.clientid || c.clientId || c.name || 'unknown',\n            disabled: !!(c.disabled === true),\n            roles: arr(c.roles).map(r => (typeof r === 'string' ? r : (r.rolename || r.role || ''))).filter(Boolean),\n            groups: arr(c.groups).map(g => (typeof g === 'string' ? g : (g.groupname || g.group || ''))).filter(Boolean)\n        });\n    }\n    return out;\n}\nfunction extractRoles(resp) {\n    let raw = [];\n    if (resp && resp.data && Array.isArray(resp.data.roles)) raw = resp.data.roles;\n    else if (resp && Array.isArray(resp.roles)) raw = resp.roles;\n    else if (resp && Array.isArray(resp.data)) raw = resp.data;\n    return raw.map(r => {\n        if (typeof r === 'string') return { rolename: r };\n        return { rolename: r.rolename || r.role || r.name || 'unknown', acls: arr(r.acls) };\n    });\n}\nfunction extractClientRoles(resp) {\n    const c = (resp && resp.data && (resp.data.client || resp.data)) || resp || {};\n    const roles = arr(c.roles).map(r => (typeof r === 'string' ? r : (r.rolename || r.role || ''))).filter(Boolean);\n    return [...new Set(roles)];\n}\nfunction extractAllowedTopicsFromRole(resp) {\n    const roleObj = (resp && resp.data && (resp.data.role || resp.data)) || resp || {};\n    const acls = arr(roleObj.acls);\n    const allowed = [];\n    for (const acl of acls) {\n        if (!acl || typeof acl !== 'object') continue;\n        const acltype = String(acl.acltype || acl.aclType || acl.type || '').trim();\n        const topic = String(acl.topic || acl.topicFilter || acl.pattern || '').trim();\n        const allow = boolAllow(acl.allow ?? acl.access);\n        if (!allow || !topic) continue;\n        if (acltype === 'subscribePattern' || acltype === 'subscribeLiteral') {\n            allowed.push(topic);\n        }\n    }\n    return [...new Set(allowed)];\n}\n\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try { payload = JSON.parse(payload); } catch (e) {\n        flow.set('dynsecBusy', false);\n        return [\n            { payload: 'Failed to parse dynsec JSON response' },\n            null, null, null, null, null,\n            { payload: String(msg.payload).slice(0, 4000) },\n            null\n        ];\n    }\n}\n\nconst responses = arr(payload.responses && payload.responses.length ? payload.responses : payload);\nlet statusText = 'Response received';\nlet usersText = null;\nlet rolesText = null;\nlet topicsText = null;\nlet followup = null;\nlet release = true;\nconst pendingIntent = flow.get('dynsecIntent');\n\nfor (const r of responses) {\n    const cmd = String((r && r.command) || flow.get('dynsecPending') || '').trim();\n    const error = (r && (r.error || r.err || r.message && /error/i.test(String(r.message)))) ? (r.error || r.err || r.message) : null;\n    if (error) statusText = 'ERROR: ' + String(error);\n    else if (cmd) statusText = 'OK: ' + cmd;\n\n    if (cmd === 'listClients') {\n        const clients = extractClients(r);\n        flow.set('clientCache', clients);\n        const lines = clients.map(c => {\n            const rs = (c.roles || []).join(', ') || '-';\n            const gs = (c.groups || []).join(', ') || '-';\n            return '- ' + c.username + ' | disabled=' + (!!c.disabled) + ' | roles=' + rs + ' | groups=' + gs;\n        });\n        usersText = lines.length ? lines.join('\\n') : 'No clients found';\n    }\n\n    if (cmd === 'listRoles') {\n        const roles = extractRoles(r);\n        flow.set('roleCache', roles);\n        const lines = roles.map(role => {\n            const ac = arr(role.acls).length;\n            return '- ' + role.rolename + ' | ACLs=' + ac;\n        });\n        rolesText = lines.length ? lines.join('\\n') : 'No roles found';\n    }\n\n    if (pendingIntent === 'resolve_topics_get_client' && cmd === 'getClient') {\n        const selected = flow.get('telemetrySelectedClient') || '';\n        const roles = extractClientRoles(r);\n        const state = { client: selected, roles, idx: 0, topics: [] };\n        flow.set('resolveState', state);\n        if (roles.length === 0) {\n            const map = flow.get('allowedTopicsMap') || {};\n            map[selected] = [];\n            flow.set('allowedTopicsMap', map);\n            topicsText = selected + ': no subscribe roles found';\n            release = true;\n        } else {\n            release = false;\n            flow.set('dynsecIntent', 'resolve_topics_get_role');\n            flow.set('dynsecPending', 'getRole:' + roles[0]);\n            followup = { payload: { command: 'getRole', rolename: roles[0] } };\n            statusText = 'Resolving topics for ' + selected + ' (' + roles.length + ' roles)';\n        }\n    } else if (pendingIntent === 'resolve_topics_get_role' && cmd === 'getRole') {\n        const state = flow.get('resolveState') || null;\n        if (state && Array.isArray(state.roles) && state.idx < state.roles.length) {\n            const allowed = extractAllowedTopicsFromRole(r);\n            state.topics = [...new Set(state.topics.concat(allowed))];\n            state.idx += 1;\n            if (state.idx < state.roles.length) {\n                release = false;\n                flow.set('resolveState', state);\n                const nextRole = state.roles[state.idx];\n                flow.set('dynsecPending', 'getRole:' + nextRole);\n                followup = { payload: { command: 'getRole', rolename: nextRole } };\n            } else {\n                const map = flow.get('allowedTopicsMap') || {};\n                map[state.client] = [...new Set(state.topics)].sort();\n                flow.set('allowedTopicsMap', map);\n                topicsText = state.client + ':\\n' + (map[state.client].length ? map[state.client].map(t => '- ' + t).join('\\n') : 'No subscribe ACL topics found');\n                flow.set('resolveState', null);\n                release = true;\n            }\n        }\n    }\n}\n\nif (release) {\n    flow.set('dynsecBusy', false);\n    flow.set('dynsecSince', null);\n    flow.set('dynsecPending', null);\n    flow.set('dynsecIntent', null);\n}\n\nconst rawText = JSON.stringify(payload, null, 2).slice(0, 4000);\nreturn [\n    { payload: statusText },\n    usersText ? { payload: usersText } : null,\n    rolesText ? { payload: rolesText } : null,\n    null,\n    null,\n    topicsText ? { payload: topicsText } : null,\n    { payload: rawText },\n    followup\n];",
    "outputs": 8,
    "noerr": 0,
    "x": 470,
    "y": 660,
    "wires": [
      ["dynsec_text_status"],
      ["dynsec_text_users"],
      ["dynsec_text_roles"],
      [],
      [],
      ["dynsec_text_topics"],
      ["dynsec_text_raw"],
      ["dynsec_fn_prepare_publish"]
    ]
  },
  {
    "id": "dynsec_inj_timeout",
    "type": "inject",
    "z": "dynsec_tab_main",
    "name": "Dynsec timeout check",
    "props": [{"p": "payload"}],
    "repeat": "2",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 730,
    "wires": [["dynsec_fn_timeout"]]
  },
  {
    "id": "dynsec_fn_timeout",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Release stale in-flight request",
    "func": "const busy = !!flow.get('dynsecBusy');\nif (!busy) return null;\nconst since = Number(flow.get('dynsecSince') || 0);\nif (!since) return null;\nif (Date.now() - since < 12000) return null;\nflow.set('dynsecBusy', false);\nflow.set('dynsecSince', null);\nflow.set('dynsecPending', null);\nflow.set('dynsecIntent', null);\nflow.set('resolveState', null);\nreturn { payload: 'Timeout waiting for dynsec response (12s). Request state cleared.' };",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 730,
    "wires": [["dynsec_text_status"]]
  },
  {
    "id": "dynsec_in_tel",
    "type": "mqtt in",
    "z": "dynsec_tab_main",
    "name": "Telemetry firehose",
    "topic": "#",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "dynsec_broker_admin",
    "x": 180,
    "y": 810,
    "wires": [["dynsec_fn_filter_telemetry"]]
  },
  {
    "id": "dynsec_fn_filter_telemetry",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Filter by selected client ACL topics",
    "func": "function mqttMatch(filter, topic) {\n    const f = String(filter || '').split('/');\n    const t = String(topic || '').split('/');\n    let i = 0;\n    for (; i < f.length; i++) {\n        if (f[i] === '#') return true;\n        if (f[i] === '+') {\n            if (i >= t.length) return false;\n            continue;\n        }\n        if (i >= t.length || f[i] !== t[i]) return false;\n    }\n    return i === t.length;\n}\nconst selected = flow.get('telemetrySelectedClient');\nif (!selected) return null;\nconst map = flow.get('allowedTopicsMap') || {};\nconst filters = map[selected] || [];\nif (!filters.length) return null;\nconst topic = String(msg.topic || '');\nconst allowed = filters.some(f => mqttMatch(f, topic));\nif (!allowed) return null;\nconst ts = new Date().toISOString();\nlet body = msg.payload;\nif (typeof body !== 'string') {\n    try { body = JSON.stringify(body); } catch (e) { body = String(body); }\n}\nconst line = ts + ' | ' + topic + ' | ' + body;\nlet log = flow.get('telemetryLog') || [];\nlog.unshift(line);\nif (log.length > 40) log = log.slice(0, 40);\nflow.set('telemetryLog', log);\nmsg.payload = log.join('\\n');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 810,
    "wires": [["dynsec_text_live"]]
  },
  {
    "id": "dynsec_catch",
    "type": "catch",
    "z": "dynsec_tab_main",
    "name": "Catch errors",
    "scope": null,
    "uncaught": false,
    "x": 170,
    "y": 880,
    "wires": [["dynsec_fn_catch_text"]]
  },
  {
    "id": "dynsec_fn_catch_text",
    "type": "function",
    "z": "dynsec_tab_main",
    "name": "Format caught error",
    "func": "const src = (msg.error && msg.error.source && msg.error.source.name) ? msg.error.source.name : 'unknown';\nconst m = (msg.error && msg.error.message) ? msg.error.message : JSON.stringify(msg.error || {});\nmsg.payload = 'Flow error at ' + src + ': ' + m;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 470,
    "y": 880,
    "wires": [["dynsec_text_status"]]
  }
]
